ul#tabs {
	list-style-type: none;
	margin: 0 0 30px 0;
	padding: 0;
	text-align: center;
}
ul#tabs li {
	display: inline-block;
	background-color: #32c896;
	border-bottom: solid 5px #238b68;
	padding: 5px 20px;
	margin-bottom: 4px;
	color: #fff;
	cursor: pointer;
}
ul#tabs li:hover {
	background-color: #238b68;
}
ul#tabs li.active {
	background-color: #238b68;
}

ul#tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul#tab li {
	display: none;
	padding: 30px;
	border: solid 20px #d2f4e9;
	overflow: auto;
}
ul#tab li button{
	vertical-align:top;
}
ul#tab li.active {
	display: block;
}
ul#tab li h2 {
	font-weight: 400;
	margin-bottom: 30px;
	padding-bottom: 5px;
	border-bottom: solid 5px #32c896;
}
div {
	padding-bottom: 10px;
}
div#info {
	float: right;
	width: 50%;
}
button#hidden {
	display: none;
}
.datagrid table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #52854E;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:45%;
	float: left;
	padding-bottom: 0px;
}
.datagrid#parteid {
	float: right;
}
.datagrid h3 {
	padding: 0px 10px;
}
.datagrid table td, .datagrid table th {
	padding: 3px 10px;
}
.datagrid table thead th {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #52854E), color-stop(1, #81B87D) );
	background: -moz-linear-gradient( center top, #52854E 5%, #81B87D 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52854E', endColorstr='#81B87D');
	background-color: #52854E;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #52854E;
}
.datagrid table thead th:first-child {
	border: none;
}
.datagrid table tbody td {
	color: #000000;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
	
}
.datagrid table tbody tr.clickable:hover {
	background-color: #615055;
    opacity: 0.5;
    cursor: pointer;
}
.datagrid table tbody .alt td {
	background: #E1EEF4;
	color: #615055;
}
.datagrid table tbody td:first-child {
	border-left: none;
}
.datagrid table tbody tr:last-child td {
	border-bottom: none;
}